@model IEnumerable<Database.DTO.DTOPerson>

@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/PageSpecific/Index.css" rel="stylesheet" />
<script src="~/Scripts/PageSpecific/angularCode.js"></script>
<script src="~/Scripts/PageSpecific/Index.js"></script>


<div ng-app="PersonApp" class="container">
    <div ng-controller="PersonController">
        <div class="mb20 mt15">
            <input type="text" placeholder="Search Person" ng-model="searchPerson" />
            <button type="button" class="btn btn-primary pull-right mb15 mr20" data-toggle="modal" ng-model="addPersonModel" ng-click="addPerson()">Add New</button>
        </div>

        <table class="table header-fixed">
            <thead>
                <tr>
                    <th ng-click="sortData('Id')">
                        ID <div ng-class="getSortClass('Id')"></div>
                    </th>
                    <th ng-click="sortData('firstName')">
                        First Name <div ng-class="getSortClass('firstName')"></div>
                    </th>
                    <th ng-click="sortData('lastName')">
                        Last Name <div ng-class="getSortClass('lastName')"></div>
                    </th>
                    <th ng-click="sortData('birthDate')">
                        BirthDate <div ng-class="getSortClass('birthDate')"></div>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in filteredPersons | orderBy: sortColumn:reverseSort | filter : searchPerson">
                    <td>{{person.Id}}</td>
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.birthDate | date:"MM/dd/yyyy"}}</td>
                    <td>
                        <a href="" data-toggle="icon-tooltip" data-placement="bottom" title="Edit Record" ng-model="editPersonModel" ng-click="editPerson(person)"><span class="fa fa-pencil-square-o"></span></a>
                        <a href="" data-toggle="icon-tooltip" data-placement="bottom" title="Remove Record" ng-model="removePersonModel" ng-click="removePersonDialog(person)"><span class="fa fa-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="persons.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="numPerPage" num-pages="numPages"></ul>
        <pre>Page: {{currentPage}} / {{numPages}}</pre>
    </div>
</div>
<style>
</style>
