@{
    Layout = null;
}

<script src="~/Scripts/PageSpecific/AddEditPersonModal.js"></script>

<div ng-controller="ModalController">
    <div ng-model="modalModel" id="modalDialog">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="close()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{(modalModel.Id != 0)  ? "Edit Person" : "Add Person"}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 mb10">
                    @Html.Label("First Name") <input type="text" class="form-control" placeholder="First Name" ng-model="modalModel.firstName" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb10">
                    @Html.Label("Last Name") <input type="text" class="form-control" placeholder="Last Name" ng-model="modalModel.lastName" />
                </div>
            </div>
            @Html.Label("Birth Date")
            <div class="row">
                <div class="col-md-4">
                    <p class="input-group">
                        <input uib-datepicker-popup="{{format}}" class="form-control" is-open="popup1.opened"  close-text="Close" ng-model="modalModel.birthDate" /> 
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" ng-click="close()">Close</button>
            <button type="button" class="btn btn-primary" ng-click="upsertPerson(modalModel)">Save changes</button>
        </div>
    </div>
</div>

<style>
    .mb10 {
        margin-bottom: 10px;
    }
</style>
