@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/PageSpecific/index.js"></script>
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<div ng-app="PersonApp" class="container">
    <div ng-controller="PersonController">
        <div class="mb10 mt15">
            <input type="text" placeholder="Search Person" ng-model="searchPerson" />
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" ng-model="addPersonModel" ng-click="addPerson()">Add New</button>
        </div>
        <div class="scrollable">
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click="sortData('Id')">
                            ID <div ng-class="getSortClass('Id')"></div>
                        </th>
                        <th ng-click="sortData('firstName')">
                            First Name <div ng-class="getSortClass('firstName')"></div>
                        </th>
                        <th ng-click="sortData('lastName')">
                            Last Name <div ng-class="getSortClass('lastName')"></div>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tr ng-repeat="person in persons | orderBy: sortColumn:reverseSort | filter : searchPerson">
                    <td>{{person.Id}}</td>
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td><a href="" data-toggle="modal" data-target="#myModal" ng-model="editPersonModel" ng-click="editPerson(person)"><span class="fa fa-pencil-square-o"></span></a></td>
                </tr>
            </table>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">{{(editPersonModel.Id != null)  ? "Edit Person" : "Add Person"}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4 mb10">
                                {{editPersonModel.Id}}
                                @Html.Label("First Name") <input type="text" ng-model="editPersonModel.firstName" value="{{editPersonModel.firstName}}" />
                            </div>
                            <div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                @Html.Label("Last Name") <input type="text" ng-model="editPersonModel.lastName" value="{{editPersonModel.lastName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="upsertPerson(editPersonModel)">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /*This class displays the UP arrow*/
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid black;
        display: inline-block;
    }

    /*This class displays the DOWN arrow*/
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid black;
        display: inline-block;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .scrollable {
        height: 500px;
        overflow: auto;
    }
</style>
